@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    -webkit-touch-callout: none;

    min-height: 100dvh;
    background-color: theme(colors.gray.900);
    background: linear-gradient(
      to bottom right,
      theme(colors.gray.900),
      theme(colors.gray.800)
    );
    color: theme(colors.white);
  }

  body::before {
    content: "";
    height: 100dvh;
    width: 100dvw;
    position: fixed;
    background-image: radial-gradient(
      theme(colors.gray.400 / 40%) 1px,
      theme(colors.gray.800 / 40%) 1px
    );
    background-size: 20px 20px;
    top: 0;
    transform-style: flat;
    pointer-events: none;
    z-index: -100;
  }
}
