@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    min-height: 100dvh;
    background: linear-gradient(
      to bottom right,
      theme(colors.gray.900),
      theme(colors.gray.800)
    );
    color: theme(colors.white);
  }
}
